{% extends "../inicio.html" %}
{% load static %}
{% block contenidoQueCambia %}
<head>
    <link rel="icon" href="https://live.staticflickr.com/65535/53048863405_40320fc55d_c.jpg" type="image/x-icon">
        <title>Contraseña|SorteoTique</title>
</head>
<h3 class="display-6">Cambiar Contraseña</h3>
<h6>{{user.Usuario}}</h6>

<form method="POST"> {% csrf_token %}
    <table class="table table-hover">
        {{ form.as_table }}
    </table>
    <input type="submit" value="Cambiar contraseña"  class="btn btn-outline-info">
</form>
{% endblock %}