<link rel="icon" href="https://live.staticflickr.com/65535/53048863405_40320fc55d_c.jpg" type="image/x-icon">
<title>Ganadores|Tique Exito</title>
<div>
    {% extends "landing.html" %}
    {% load static %}
    
        {% block contenidoQueCambia %}
        <head>
    
            
        </head>
<style>

    .checklist {
  font-family: Arial, sans-serif;
    }
    </style>
<head>
<div class="formWinners">
{% block contactClient %}
{% endblock %}
</div><br>      
</head>
<figure class="text-center">
<blockquote class="blockquote">
       <p class="display-6">Historias de éxito:</p>
       <p class="lead">Estos son los <mark>útlimos ganadores</mark> de la pasada ronda de sorteos.<br>
       El siguiente puedes ser<mark> tú.</mark></p><br>
        </figure>
    </blockquote>

        <table class="table table-hover">
            <tr id="titleTbClients">
                <th>Id del Cliente</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Sorteo</th> 
                <th>Premio</th> 
                
    
                    
            </tr>
            
                {% for winner in Winners%}
                    <tr>
                        <td>{{winner.client_id}}</td>
                        <td>{{winner.name}}</td>
                        <td>{{winner.last_name}}</td>
                        <td>{{winner.draw}} </td> 
                        <td>{{winner.prize}} </td>              
                    </tr>
                {% endfor %}
                
        </table>
        <br><br><br>
        <center>
        <div class="profile bg-gradient-primary-to-secondary">
            <!-- img de tique-->
            <img class="profile-img" src="https://www.liveabout.com/thmb/F611KkAUS44T2PSpHaYokTXqH8E=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/Random-Drawing-by-Materio-GettyImages-95442265-5b4ba4ff46e0fb00378f364a.jpg" alt="..." width="500" height="300" />
        </div>
        </center>
        <br><br><br>
        {% endblock %}
</div>