<link rel="icon" href="https://live.staticflickr.com/65535/53048863405_40320fc55d_c.jpg" type="image/x-icon">
<div>
    {% extends "SorteoTique/inicio.html" %}
    {% load static %}
    
        {% block contenidoQueCambia %}
        <head>
            <title>Premios|SorteoTique</title>
        </head>

<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="card" style="width: 18rem; margin-left: 20px;"> 
            <img src="https://store.storeimages.cdn-apple.com/4982/as-images.apple.com/is/iphone-14-pro-model-unselect-gallery-2-202209?wid=5120&hei=2880&fmt=p-jpg&qlt=80&.v=1660753617559" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Productos Apple</h5>
                    <p class="card-text">¿Quieres una mac?, ¿El útlimo iPhone?, ¿Airpods? Pregunta por el sorteo iPremios</p>
                </div>
             </div>
        </div>
        <div class="col-sm">
            <div class="card" style="width: 18rem; margin-left: 20px;"> 
            <img src="https://www.investopedia.com/thmb/Z9hn3yJjTENp_e170q9z0c9ZpbM=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/GettyImages-83077314-31d4b4d009f443c8ac37ee30eec32800.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Dinero en efectivo</h5>
                    <p class="card-text">Si a tí lo que te interesa es ganar dinero y decidir en qué invertirlo, el Sorteo Gana Efectivo, Sorteo Mi futuro o Sorteo Rápido son para ti.</p>
                </div>
             </div>
        </div>
        <div class="col-sm">
            <div class="card" style="width: 18rem; margin-left: 20px;"> 
            <img src="https://wwwnc.cdc.gov/travel/images/mountain-biker.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Viajes</h5>
                    <p class="card-text">¿Tienes tiempo posponiendo tus vacaciones? Sorteo Aventura es para ti, viaja a donde quieras por un año.</p>
                </div>
             </div>
        </div>
        <div class="col-sm">
            <div class="card" style="width: 18rem; margin-left: 20px;"> 
            <img src="https://news.ontariotechu.ca/archives/2022/12/images/cm-year-in-review-2022-thumb.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Educación</h5>
                    <p class="card-text">Si a tí lo que te interesa es asegurar tu futuro o el de tus hijos, por favor, considera el Sorteo Educativo.</p>
                </div>
             </div>
        </div>
    </div>
</div>
        {% endblock %}
</div>