<link rel="icon" href="https://live.staticflickr.com/65535/53048863405_40320fc55d_c.jpg" type="image/x-icon">
<div>
    {% extends "SorteoTique/inicio.html" %}
    {% load static %}
    
        {% block contenidoQueCambia %}
        <head> 
                <title>Boletos|SorteoTique</title>
        </head>
        <div class="card" style="width: 18rem;"> 
        <div class="card-body">
            <h5 class="card-title">Espéralo pronto</h5>
            <p class="card-text" >Estamos trabajando en mejorar la experiencia de compra.</p>
            <!--a href="#" class="btn btn-primary">Contactar</a-->
        </div>
        </div>

        {% endblock %}
</div>

